#result {
  font-family: 'Abel', sans-serif;
  font-size: larger;
  color: rgba(156, 3, 74, 0.966);
}
h1#title{
  color: rgb(116, 45, 138);
  font-family: 'Londrina Solid', cursive;
}
label#number-title{
  font-family: 'Londrina Solid', cursive;
}